.button_create-post {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}

.button_create-post:hover {
    background-color: transparent;
    color: black;
    font-weight: 500;
}